@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
  --bg-primary: rgb(53, 53, 53);
  --bg-secondary: rgb(44, 34, 34);
  --bg-bright: rgb(39, 39, 39);
  --font-primary: white;
  --font-secondary: rgb(27, 215, 248); 
  --transition-spreed: 200ms;

  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: var(--font-primary);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body{
  background-color: var(--bg-primary);
}

/* Scrolbar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--font-secondary);
}