.main-view{
    background-color: var(--bg-bright);
    margin-left: 10rem;
    min-height: 100vh;
    font-size: 2rem;
    transition: var(--transition-spreed);
    overflow: hidden;
    padding-bottom: 5rem;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner canvas{
    position: absolute;
}

.banner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/banner.jpg);
    filter: brightness(0.4);
    background-size: cover;
    background-position: center;
}

.banner__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.banner__title{
    user-select: none;
    text-align: center;
    text-shadow: 0.3rem 0.3rem 2px var(--bg-secondary);
    padding: 0 2rem 10rem 2rem;
}

@media screen and (max-width: 800px) {
    .main-view{
        margin-left: 0;
        transition: var(--transition-spreed);
    }

    .banner canvas{
        display: none;
    }
}
