.main-view{
    background-color: var(--bg-bright);
    margin-left: 10rem;
    min-height: 100vh;
    font-size: 2rem;
}

.banner{
    width: 100%;
    height: 100vh;
}

.banner img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}